<div class="convict-index-show-container flex-column">
  <div id="app-intro">
    <h3 text-align="center">“What are you in for?”</h3><br/>

    <p>Even we couldn’t tell you! Convictify is a misanthropic, text-based adventure for your friends and family- favorite politicians- really anyone you think could use a dose of good-ol’ American-style mass incarceration.</p><br/>

    <p>Just give us a name and hit the big orange button- our <strong>Convictify Justice Generator</strong> will do the rest. We’ll convict your mark on the spot for a crime of our choice, and let the games begin!</p><br/>

    <p>As a Convictify-er you’ll get to file incident reports against prisoners, based on our prison’s Byzantine code of conduct. Peruse the back-log of incident reports while you’re at it, or check out who your person’s cell mates are. <em>Get lost in our paperwork.</em></p><br/>

    <p>The people you Convictify will occasionally wind up in some peculiar incidents. Your prisoners are likely to ask you to foot the bill for these, so make sure our emails stay out of your spam trap! Your contributions will keep the paperwork flowing and maybe even keep your prisoners safe.</p><br/>

    <p><em>(Safety not guaranteed)</em></p>
  </div>
</div>
