<div class="convict-index-show-container flex-column">
  <div>
    <h1>Incident Reports</h1>

    <% @incident_reports.each do |incident_report| %>
      <% @incident_report = incident_report%>
      <%= render partial: "/partials/incident_report_loop" %>
    <% end %>
  </div>
</div>
