<div class="convict-index-show-container flex-column">
  <div>

  <h1><%= @guard.full_name %></h1>

    <div>
      <p><strong>Cell Block ID:</strong> <%= @guard.cell_block_id %></p>
      </br>
      <h3>Incident Reports:</h3>
        <% @guard.incident_reports.each do |incident_report| %>
          <div class="ui raised padded segment flex-column cell-block-index-segment">
            <li><%= link_to incident_report.content, incident_report %></li>
          </div>
        <% end %>
      </br>

      <h3>Prisoners:</h3>
        <% @guard.prisoners.each do |prisoner| %>
          <div class="ui raised padded segment flex-column cell-block-index-segment">
            <li><%= link_to "#{prisoner.name} | #{prisoner.nickname}", prisoner %></li>
          </div>
        <% end %>
    </div>

  </div>
</div>
