

/*****************
FONTS
*****************/
* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  color: rgba(242, 113, 29, 1);
  text-transform: uppercase;
  margin-bottom: 40px;
}

h2{
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgba(242, 113, 29, 1);
  font-weight: 600;
}

a:hover {
  color: #d85019;
}

a:visited {
  color: #d85019;
}

span {
  font-weight: 600;
}

.big-letter {
  font-size: 4em;
}



/*****************
ELEMENTS
*****************/
ul {
  list-style: none;
}

input {
  display: block;
  max-width: 300px;
  margin-top: 20px;
}

.ui.form input[type='text']:focus, .ui.form input[type='password']:focus{
  border-color: rgba(242, 113, 29, 1);
  font-family: "Open Sans", sans-serif;
}

select:focus{
  outline-color: rgba(242, 113, 29, 1);
}

.ui.form div input[type='submit']{
  background: rgba(242, 113, 29, 1);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}
.ui.form div input[type='submit']:hover{
  background: #d85019;
  color: white;
}

.ui.form select{
  height: 40px;
  font-size: 1em;
}

#guard_cell_block_id {
  height: 3em;
}

.avatar {
  border-radius: 50%;
}


/*****************
BLOCKS
*****************/

.convict-main-container{
  height: 100vh;
  justify-content: center;
}

.convict-new-edit-container{
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width:80vw;
  min-width:40vw;
}

.convict-index-show-container{
  align-items: baseline;
  justify-content: center;
  height: 100vh;
  margin-top: 120px;
}

.convict-form {
  align-self: center;
  justify-content: space-evenly;
  /* height: 60vh; */
  width: 600px;
}

.convict-form-fields{
  justify-content: space-around;
  width: 80%;
}


.convict-top-margin{
  margin-top: 40px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.align-center{
  align-items: center;
}

/*****************
MEDIA QUERIES
*****************/

@media screen and (max-width: 1024px){
  #side-menu{
    display: none;
  }

  .convict-new-edit-container{
    margin-left: 90px;
    margin-right: 90px;
  }

  .convict-index-show-container{
    margin-left: 90px;
    margin-right: 90px;
  }

}

@media screen and (min-width: 1025px){
  #top-menu{
    display:none;
  }

  .convict-new-edit-container{
    margin-left: 250px;
  }

  .convict-index-show-container{
    margin-left: 400px;
    max-width: 50em;
  }
}
