<div class="convict-index-show-container flex-column">
  <div>

    <h1><%= @cell.name %></h1>

    <div>
      <div>
        <span><strong>Security Rating:</strong> </span><%= @cell.cell_block.security_rating %> </br>
        <span><strong>Number of Prisoners:</strong></span> <%= @cell.prisoners.count %> </br>
      </div>
      <% @cell.prisoners.each do |prisoner| %>
        <% @prisoner = prisoner %>
        <%= render partial: "layouts/prisoner_loop" %>
        
      <% end %>
    </div>

  </div>
</div>
