<div class="convict-index-show-container flex-column">

  <% if logged_in? %>
  <% @guard = Guard.find(session[:user_id]) %>
  <%= render partial: "/partials/my_prisoners" %>

  <% else  %>
    <%= render partial: "/partials/leaderboard" %>
  <% end %>
</div>
